logic_app_msi_key_vault/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logic_app_name": {
            "defaultValue": "arm-lapp-ae-poc",
            "type": "String"
        },
        "key_vault_name": {
            "defaultValue":"arm-kv-ae-poc",
            "type": "string"
        },
        "secretValue": {
            "defaultValue":"secretsecret",
            "type": "string"
        },
        "secretName": {
            "defaultValue":"TopSecret",
            "type": "string"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.KeyVault/vaults",
            "apiVersion": "2016-10-01",
            "name": "[parameters('key_vault_name')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "sku": {
                    "family": "A",
                    "name": "Standard"
                },
                "tenantId": "[subscription().tenantId]",
                "accessPolicies": [
                    {
                        "tenantId": "[subscription().tenantId]",
                        "objectId": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logic_app_name')), '2019-05-01', 'Full').identity.principalId]",
                        "permissions": {
                            "keys": [
                                "Get",
                                "List"
                            ],
                            "secrets": [
                                "Get",
                                "List"
                            ],
                            "certificates": [
                                "Get",
                                "List"
                            ]
                        }
                    }
                ], 
                "enabledForDeployment": false,
                "enabledForDiskEncryption": false,
                "enabledForTemplateDeployment": false,
                "enableSoftDelete": true
            },
            "dependsOn": [
                "[resourceId('Microsoft.Logic/workflows', parameters('logic_app_name'))]"
            ]
        },
        {
            "type": "Microsoft.KeyVault/vaults/secrets",
            "apiVersion": "2016-10-01",
            "name": "[concat(parameters('key_vault_name'), '/', parameters('secretName'))]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.KeyVault/vaults', parameters('key_vault_name'))]"
            ],
            "properties": {
                "value": "[parameters('secretValue')]",
                "attributes": {
                    "enabled": true
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('logic_app_name')]",
            "location": "[resourceGroup().location]",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "staticResults": {
                        "HTTP0": {
                            "status": "Succeeded",
                            "outputs": {
                                "body": {
                                    "items": [
                                        {
                                            "name": "jerry"
                                        },
                                        {
                                            "name": "jack"
                                        }
                                    ]
                                },
                                "headers": {},
                                "statusCode": "OK"
                            }
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {}
                            }
                        }
                    },
                    "actions": {
                        "Get_secret": {
                            "inputs": {
                                "authentication": {
                                    "audience": "https://vault.azure.net",
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "uri": "[concat('https://', parameters('key_vault_name'), '.vault.azure.net/secrets/', parameters('secretName') ,'?api-version=7.0')]"
                            },
                            "runAfter": {},
                            "type": "Http"
                        },
                        "HTTP": {
                            "runAfter": {
                                "Get_secret": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "method": "GET",
                                "uri": "http://test.com/hello"
                            },
                            "runtimeConfiguration": {
                                "staticResult": {
                                    "staticResultOptions": "Enabled",
                                    "name": "HTTP0"
                                }
                            }
                        },
                        "Response": {
                            "runAfter": {
                                "HTTP": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "body": {
                                    "name": "@body('Get_secret')?['name']",
                                    "value": "@body('Get_secret')?['value']"
                                },
                                "statusCode": 200
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "keyvault": {
                                "connectionId": "[resourceId('Microsoft.KeyVault/vaults', parameters('key_vault_name'))]",
                                "connectionName": "keyvault",
                                "id": "[concat('/subscriptions/', subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/keyvault' )]"
                            }
                        }
                    }
                }
            }
        }
    ]
}